<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        White Paper
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, DApp Module. Support: <a href="mailto:support@dqueue.net" target="_top">support@dqueue.net</a>
        </p>
    </div>
</footer>
